body {
  position: relative;
  font-family: tajawal;
  font-weight: normal;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #846f62 #f5f5f5;
}

html ::-webkit-scrollbar {
  background-color: #f5f5f5;
  width: 7px;
  height: 0px;
  border-radius: 3.5px;
}


html ::-webkit-scrollbar-thumb {
  background-color: #846f62;
  border-radius: 3.5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.overflow {
  overflow: hidden !important;
}

* {
  outline: none !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
a:hover{text-decoration: none;}

.container .container {
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

section:not(.live-section) {
  overflow: hidden;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Light.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Light.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Regular.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Regular.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Medium.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Medium.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Bold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Bold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Black.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Black.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}



/*//////////////////////////////preloader//////////////////////////////*/
.pre-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #846F62;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pre-loader img {
  width: 300px;
}

@media (max-width: 767px) {
  .pre-loader img {
    width: 200px;
  }
}

.pre-loader .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pre-loader .progress-bar {
  background-color: #846F62;
  border: none;
  overflow: hidden;
  width: 200px;
  height: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 20px 0 0 0;
}

@media (max-width: 767px) {
  .pre-loader .progress-bar {
    width: 100px;
  }
}

.pre-loader .progress-bar .Shape_1 {
  background-color: #846F62;
  position: absolute;
  left: 583px;
  top: 459px;
  width: 200px;
  height: 2px;
  z-index: 4;
}

.pre-loader .progress-bar span {
  display: block;
}

.pre-loader .bar {
  background-color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pre-loader .progress {
  -webkit-animation: loader 8s ease infinite;
  animation: loader 8s ease infinite;
  background: #846F62;
  border: none;
  padding: 0px;
  width: 0;
  height: 2px;
}

.pre-loader .progress-bar {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.pre-loader .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

/*//////////////////////////////preloader//////////////////////////////*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  opacity: 0.9;
  background-color: #000;
  display: none;
}

.menu-btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-btn i {
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
          color: #ffffff;
          font-size: 30px;
}

.menu-btn:hover {
  color: #846f62;
  text-decoration: none;
}

@media (max-width: 991px) {
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* .overlay{display: inline;} */
}

.logo  {
  display: block;
  margin: 0px 15px;
  width: 104px;
  height: 147px;
}




nav {
  background-color: #846F62;

  padding: 14px 0;
}

@media (max-width: 767px) {
  nav {
    
    padding: 15px 0;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.nav-list > li {
  -webkit-margin-end: 35px;
          margin-inline-end: 35px;
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
}

.nav-list > li:last-of-type {
  margin: 0;
}

.nav-list > li.xs-link {
  display: none;
}

@media (max-width: 767px) {
  .nav-list > li.xs-link {
    display: block;
  }
}
.nav-list > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}
.nav-list > li > a {
  font-size: 16px;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-list > li > a:hover {
  color: #DED7D7;
  text-decoration: none;
}
.header-icon .cont-icon i{
  background-color: rgb(255 255 255);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  color: #846f62;
  font-size: 17px;
}
.header-icon  .cont-icon span {
  color: #fff;
}
.header-icon  .cont-icon a {

  width: auto;
  margin: 0px 15px;

}

.main-slide-cont {
  position: relative;
}

.main-slide-cont .slide-img {
  width: 100%;
  height: 620px;
  z-index: 1;
}

.main-slide-cont .slide-text {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

@media (max-width: 1199px) {
  .main-slide-cont .slide-text {
    text-align: center;
  }
}

.main-slide-cont::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(249, 165, 27, 0)), to(#202020));
  background: linear-gradient(90deg, rgba(249, 165, 27, 0) 0%, #202020 100%);
  content: "";
  z-index: 2;
}


.main-slide-cont .slide-title {
  font-size: 59px;
  color: #FFF;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  width: 100%;
 
}
.main-slide-cont h4{
  color: #fff;
  font-size: 37px;
}


@media (max-width: 1199px) {
  .main-slide-cont .slide-title {
    text-align: center;
    max-width: 100%;
  }
  .main-slide-cont .slide-title::after {
    display: none;
  }
}

@media (max-width: 991px) {
  .main-slide-cont .slide-title {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .main-slide-cont .slide-title {
    font-size: 24px;
  }
}

.main-slide-cont .main-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 46px;
}

@media (max-width: 1199px) {
  .main-slide-cont .main-btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-slide-cont .main-btn {
  background-color: #fff;
  color: #846F62;
  font-weight: 700;
  font-size: 20px;
  width: 182px;
  height: 53px;
  border: 1px solid transparent;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;}

@media (max-width: 767px) {
  .main-slide-cont .main-btn {
    padding: 0;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    min-width: 180px;
    max-width: 180px;
    height: 40px;
  }
}
.main-slide-cont .main-btn:hover {
  background-color: #846F62;
  color: #fff;
}

.swiper-pagination {
 display: none;
}
.main-slider .swiper-btn {display: none;}

.cust{padding-left: 0px;
padding-right: 0px;
}
.about-us{    height: 550px;
  overflow: hidden;}
.about-logo{
  background-color: #846F62;
    text-align: center;
    width: 101px;
    height: 101px;
    margin-right: auto;
    display: flex;
    margin-bottom: 50px;
}

.about-logo img{
  width: 45px;
  height: 45px;
  margin: auto;
}
.about-text{padding-right: 15%;}


.about-title {
  font-size: 28px;
  font-weight: 700;
  color: #393939;
  font-weight: 900;
}

 .about-title::after {
  width: 81px;
  height: 7px;
  content: "";
  display: block;
  background-color: #846F62;
  margin-top: 8px;
}
.about-p{
  color: #848484;
  width: 90%;
  font-size: 17px;
  line-height: 1.8;
  margin-top: 23px;
}

.about-more {
  background-color: #846F62;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  width: 182px;
  height: 53px;
  border: 1px solid transparent;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 45px;
}

.about-more:hover {
  border-color: #846F62;
  background-color: #fff;
  color: #846F62;
  text-decoration: none;
}
.about-logo.one{
  margin-left: auto;
  margin-right: unset;
}
.flex-list{    display: flex;
  justify-content: space-around;}
  .flex-list ul>li{
    color: #848484;
    font-size: 17px;
    list-style: lower-roman;
  }
  .services{
    background-image: url(../images/Group-14.jpg);
    background-color: transparent;
    background-position: top 70px right -550px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .flex-service{display: flex;flex-wrap: wrap;    padding-bottom: 75px;}
.flex-service .items{
  width: 22%;
  background-color: #fff;
  border: 8px solid rgb(167 167 167 / 15%);
  padding: 40px 20px; 
  
  background-color: #fff;
  background-position: center left 15px;
  background-repeat: no-repeat;
  background-size: 70px;
  color: #846f62;
  margin: 15px 15px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-service .items:hover{
  background-color: #846f62;
    color: #fff;
    cursor: pointer;
}
.flex-service .items.group{
  background-image: url(../images/group.png);
}
.flex-service .items.doller{
  background-image: url(../images/dollar.png);
}
.flex-service .items.balance{
  background-image: url(../images/balance.png);
}
.flex-service .items.briefcase{
  background-image: url(../images/briefcase.png);
}
.flex-service .items.home{
  background-image: url(../images/home.png);
}
.flex-service .items.hand{
  background-image: url(../images/hand-shake.png);
}
.flex-service .items.article{
  background-image: url(../images/article.png);
}
.flex-service .items.gold{
  background-image: url(../images/gold.png);
}
.flex-service .items.group{
  background-image: url(../images/group.png);
}
.flex-service .items.auction{
  background-image: url(../images/auction.png);
}
.flex-service .items.bank{
  background-image: url(../images/bank.png);
}
.flex-service .items.safe{
  background-image: url(../images/safe.png);
}
.flex-service .items.clean{
  background-image: url(../images/clean.png);
}




.section-title {
  font-size: 28px;
  font-weight: 700;
  color: #393939;
  font-weight: 900;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.section-title::after {
    width: 81px;
    height: 7px;
    content: "";
    display: block;
    background-color: #846F62;
    margin-top: 8px;
    margin: auto;
}
.sec-banner-section{
  background-image: url(../images/banner1.jpg);
  background-color: transparent;
 background-position: center;
 height: 273px;
  background-repeat: no-repeat;
  background-size: cover;

 
  position: relative;
  -webkit-transform: perspective(1px);
          transform: perspective(1px);
          display: flex;
          justify-content: center;
          align-items: center;
}
.sec-banner-section::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(249, 165, 27, 0)), to(#060606));
  background: linear-gradient(90deg, rgba(249, 165, 27, 0) 0%, #060606 100%);
  content: "";
  z-index: -1;
}
.banner-p{display: flex;justify-content: space-between;}
h3.banner-title{
  font-size: 45px;
    color: #ffff;
    font-weight: 600;
}
.banner-link{
  background-color: #fff;
  color: #846F62;
  font-weight: 700;
  font-size: 20px;
  width: 182px;
  height: 53px;
  border: 1px solid transparent;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  }
  .banner-link:hover{
    background-color: #846F62;
    color: #fff;
    text-decoration: none;
  }
  .cont-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact-icon{padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
  }
  .cont-icon a{    display: flex;
    width: 50%;
    margin: 20px 0px;
    align-items: center;}
  .cont-icon i{
    background-color: rgb(132 111 98);
    width: 51px;
    height: 51px;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cont-icon span{
    font-size: 18px;
    color: #846F62;

  }
  footer{
    background-color: #846f62;
    padding: 75px 0px;
  }
.footer-head{
  text-align: center;
  display: flex;
  flex-direction: column;
    align-items: center;
    align-content: center;
}
.foot-nav{
  display: flex;
}
.foot-logo{    margin-bottom: 25px;}
.foot-logo img{
  width: 104px;
  height: 147px;
}
.foot-nav a{
  color: #fff;
    font-size: 20px;
    margin: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.foot-social{margin-top: 15px;}
.foot-social i{font-size: 17px;
  color: #fff;
  margin: 0px 10px;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;}
  .foot-social i:hover{
    color: #DED7D7;
  }
.foot-nav a:hover{
color: #DED7D7;
}
.item-text h3{
  font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}
.flex-service .items:hover{}
.item-image{
 
}
@media (max-width:1024px) {
  .about-us {
    height: 100%;
    
}
.about-logo{    margin-bottom: 15px;    width: 84px;
  height: 84px;}
.about-more{    margin-top: 0px
}
.about-title {
  font-size: 25px;}
  .about-p {
    line-height: 1.5;
    margin-top: 20px;
}
.flex-service .items {
  width: 22%;
  margin: 10px;
}
.cont-icon a {
  width: 100%;
  margin: 15px 0px;
 
}
.contact-icon {
  padding-top: 15px;
}
}
@media (max-width:991px) {
  .header-icon .cont-icon{display: none;}
  .nav-list {
    position: fixed;
    top: 0;
    inset-inline-start: -300px;
    height: 100vh;
    background-color: #846f62;
    width: 300px;
    z-index: 999;
    display: block;
    padding: 70px 0 20px;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav-list.active {
    inset-inline-start: 0;
  }
  .nav-list > li {
    margin: 0;
    margin-bottom: 15px;
  }
  .nav-list > li:last-of-type {
    margin: 0;
  }
  .nav-list > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
  }
  .nav-list .has-sub > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    font-size: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav-list .has-sub > a.active::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .nav-list .sub-list {
    padding: 10px 15px;
    display: none;
  }
  .nav-list .sub-list a {
    color: #846f62;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
    margin: 0;
    margin-bottom: 10px;
  }
  .nav-list .sub-list a:last-of-type {
    margin: 0;
  }
  .flex-service .items {
    width: 45%;}
}
@media (max-width:991px) {
.main-slide-cont .slide-img {

  height: 70vh;

}
.about-img{display: none;}
.cust {
  padding-left: 15px;
  padding-right: 15px;
}
.about-logo{    margin-right: unset;}
.about-more {

  margin-bottom: 15px;
}
.section-title {

  padding-top: 90px;
 
}
footer {
  padding: 50px 0px;
}
.flex-list {
  justify-content: start;
}
.cont-icon a {
  width: 50%;
}
.cont-icon {
  margin-bottom: 25px;
}
}
@media (max-width: 768px){
  .logo {
    margin: 0;
    margin-right: auto;
  }
  
}
@media (max-width: 480px){
.flex-service .items {
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
}
.banner-p {
  flex-direction: column;
}
h3.banner-title {
  font-size: 30px;
  margin-bottom: 30px;
}
.mapouter iframe
{
  height: 350px !important;
}
.contact-icon {
  padding-left: 0px;
  padding-right: 0px;

}
.foot-nav {
   flex-direction: column;
}
.foot-nav a {

  display: block;
  margin: 10px 0px;

}
footer {
  padding: 30px 0px;
}
.cont-icon a {
  width: 70%;
  margin: 8px 0px;
}
.about-p {
  width: 100%;
}
.flex-service .items {
  margin-bottom: 15px;
  width: 89%;
}

}








